/*body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-image: url(https://img.freepik.com/premium-photo/free-palestine-free-gaza-flag-abstract-art-red-green-black-war-middle-east-generative-ai_550060-4361.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.free{
    height: 500px;
    width: 500px;
    background-color: rgb(255,228,196,0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

p, ul, ol{
    font-size: 20px;
}

.flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 75px;
    opacity: 0.75;
}

.flag:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

hr{
    height: 2px;
    background-color: #6a3d11;
    border-color:  #6a3d11;
}

.quote{
    text-align: center;
    font-size: 23px;
}

.quote:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
    background-color: #faedcd;
    border-radius: 50px;
}*/